############################################
# Maven
############################################
/target/
!.mvn/wrapper/maven-wrapper.jar

############################################
# Spring Boot
############################################
*.log
logs/
spring.log

############################################
# STS / Eclipse
############################################
.metadata/
.classpath
.project
.settings/
.springBeans
.sts4-cache/

############################################
# IntelliJ (if project opened in IntelliJ later)
############################################
.idea/
*.iws
*.iml
*.ipr
out/

############################################
# VS Code (if opened)
############################################
.vscode/

############################################
# OS Files
############################################
.DS_Store
Thumbs.db

############################################
# Java
############################################
*.class

############################################
# Application specific
############################################
application-local.properties
application-local.yml
.env
